.loader {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
