@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	color: #efeff3;
	background: linear-gradient(to top right, #0f0104, #1f0a14) #0f0104;
	position: relative;
}

h1 {
	@apply text-4xl font-bold;
}

.animation-slide-fade {
	-webkit-animation: slideFade;
	animation: slideFade 0.4s;
}
@-webkit-keyframes slideFade {
	from {
		transform: translateY(-22px);
		opacity: 0.4;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slideFade {
	from {
		transform: translateY(-22px);
		opacity: 0.4;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
